<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>About</title>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"/>


</head>
<body>


<div layout:fragment="content">
    <div class="jumbotron">
        <h1>About</h1>
    </div>

    <div class="col-sm-10 text-left">
        <br/>
        <p><b> The Adaptive Quiz </b> activity enables a teacher to create tests that efficiently measure the
            takers' abilities. Adaptive tests are comprised of questions selected from the question bank that are
            tagged with a score of their difficulty. The questions are chosen to match the estimated ability level
            of the current test taker. If the test taker succeeds on a question, a more challenging question is
            presented next. If the test taker answers a question incorrectly, a less challenging question is
            presented next. This technique will develop into a sequence of questions converging on the test taker's
            effective ability level. The test stops when the test taker's ability is determined to the required
            accuracy.</p>
        <p>The Adaptive Quiz activity uses the <a href="http://www.rasch.org/rmt/rmt22g.htm"> "Practical Adaptive
            Testing CAT Algorithm" by B.D. Wright </a> published in Rasch Measurement Transactions(1988), and
            discussed in John Linacre's <a href="http://www.rasch.org/memo69.pdf">"Computer-Adaptive Testing: A
                Methodology Whose Time Has Come" </a>. </p>
        <hr/>

    </div>
</div>
</body>
</html>