<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Computer Adaptive Testing</title>

</head>
<body>

<h5>&nbsp;&nbsp;&nbsp;Welcome Admin! &nbsp; <a th:href="@{/logout}"><b>[Logout]</b></a></h5>


<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Change Password</h1>
    </div>

<div class="col-sm-10 text-left">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputNewPassw" class="control-label col-xs-2">Insert your new password</label>
            <div class="col-xs-10">
                <input type="password" class="form-control" id="inputNewPassw" placeholder="New password"/>
            </div>
        </div>
      <div class="form-group">
        <label for="confirmNewPassw" type="password" class="control-label col-xs-2">Confirm your new password</label>
        <div class="col-xs-10">
            <input type="password" class="form-control" id="confirmNewPassw" placeholder="Confirm the password"/>
        </div>
      </div>
      <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">OK</button>
            </div>
      </div>
    </form>
</div></div>
</body>
</html>