<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>CAT Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link href="/static/css/kalendar.css" rel="stylesheet"/>
    <script src="kalendar.js"></script>
    <script>
        $(document).ready(function () {
            $('.kalendar').kalendar({
                events: [
                    {
                        title: "Event 1",
                        url: "http://www.jqueryscript.net",
                        start: {
                            date: 20140115,
                            time: "12.00"
                        },
                        end: {
                            date: "20140116",
                            time: "14.00"
                        },
                        location: "London",
                        color: "yellow"

                    },
                    {
                        title: "Event 2",
                        url: "http://www.jqueryscript.net",
                        start: {
                            date: 20140115,
                            time: "12.00"
                        },
                        end: {
                            date: "20140116",
                            time: "14.00"
                        },
                        location: "London",
                        color: "blue"

                    },
                    {
                        title: "Event 3",
                        url: "http://www.jqueryscript.net",
                        start: {
                            date: 20140115,
                            time: "12.00"
                        },
                        end: {
                            date: "20140116",
                            time: "14.00"
                        },
                        location: "London"

                    },
                    {
                        title: "Way Out West",
                        start: {
                            date: 20131230,
                            time: "12.00"
                        },
                        end: {
                            date: "20140106",
                            time: "14.00"
                        },
                        location: "Gothenburg",
                        color: "yellow"

                    }
                ],
                color: "green",
                firstDayOfWeek: "Sunday",
                eventcolors: {
                    yellow: {
                        background: "#FC0",
                        text: "#000",
                        link: "#000"
                    },
                    blue: {
                        background: "#6180FC",
                        text: "#FFF",
                        link: "#FFF"
                    }
                }
            });

        });
    </script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>



</head>

<body>

<h5>&nbsp;&nbsp;&nbsp;Welcome Admin! &nbsp; <a th:href="@{/logout}"><b>[Logout]</b></a></h5>


<div layout:fragment="content">


<div class="col-sm-10 text-left">
<!--<h3>Admin Panel</h3>
    <div class="wrapper">
        <div class="kalendar"></div>
    </div>-->

<div>
<h3>View database quiz questions:</h3>


</div>

</div></div>
</body>
</html>