<!DOCTYPE html>
<html <html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            xmlns:th="http://www.thymeleaf.org"
            layout:decorator="layout">
<head>
    <title>Computer Adaptive Testing</title>

</head>
<body>

<h5>&nbsp;&nbsp;&nbsp;Welcome Admin! &nbsp; <a th:href="@{/logout}"><b>[Logout]</b></a></h5>

<div layout:fragment="content">

<div class="col-sm-10 text-left">
    <h3>Add a new question to your Computer Adapted Quiz Application</h3><br />

    <form class="form-horizontal">
            <div class="form-group">
                <label for="inputDomain" class="control-label col-xs-2">Question Domain</label>
                <div class="col-xs-10">
                    <input class="form-control" id="inputDomain" placeholder="Domain">
                </div>
            </div>
        <div class="form-group">
            <label for="inputScore" class="control-label col-xs-2">Question Score</label>
            <div class="col-xs-10">
                <input class="form-control" id="inputScore" placeholder="Question score from 1 to 5 (1 < 5) ">
            </div>
        </div>
            <div class="form-group">
                <label for="inputQuestion" class="control-label col-xs-2">Question Text</label>
                <div class="col-xs-10">
                    <input class="form-control" id="inputQuestion" placeholder="Question">
                </div>
            </div>
            <div class="form-group">
                <label for="inputA1" class="control-label col-xs-2">Answer 1</label>
                <div class="col-xs-7">
                    <input class="form-control" id="inputA1" placeholder="First Answer">
                </div>
                <label for="inputA1cb" class="control-label col-xs-2">Correct</label>
                <div class="col-xs-1">
                    <input type="checkbox" class="form-control" id="inputA1cb">
                </div>
            </div>
            <div class="form-group">
                <label for="inputA2" class="control-label col-xs-2">Answer 2</label>
                <div class="col-xs-7">
                    <input class="form-control" id="inputA2" placeholder="Second Answer">
                </div>
                <label for="inputA1cb" class="control-label col-xs-2">Correct</label>
                <div class="col-xs-1">
                    <input type="checkbox" class="form-control" id="inputA1cb">
                </div>
            </div>
            <div class="form-group">
                <label for="inputA3" class="control-label col-xs-2">Answer 3</label>
                <div class="col-xs-7">
                    <input class="form-control" id="inputA3" placeholder="Third Answer">
                </div>
                <label for="inputA1cb" class="control-label col-xs-2">Correct</label>
                <div class="col-xs-1">
                    <input type="checkbox" class="form-control" id="inputA1cb">
                </div>
            </div>
            <div class="form-group">
                <label for="inputA4" class="control-label col-xs-2">Answer 4</label>
                <div class="col-xs-7">
                    <input class="form-control" id="inputA4" placeholder="Forth Answer">
                </div>
                <label for="inputA1cb" class="control-label col-xs-2">Correct</label>
                <div class="col-xs-1">
                    <input type="checkbox" class="form-control" id="inputA1cb">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
    </form>


</div>
</div>
</body>
</html>