<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Computer Adaptive Testing</title>

</head>
<body>

<h5>&nbsp;&nbsp;&nbsp;Welcome Admin! &nbsp; <a th:href="@{/logout}"><b>[Logout]</b></a></h5>


<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Change Password</h1>
    </div>

    <div class="col-sm-10 text-left">
        <form class="form-horizontal" th:action="@{/changepass}" method="post" th:object="${passwordChangeDTO}">
            <ul th:if="${#fields.hasGlobalErrors()}">
                <li th:each="err : ${#fields.globalErrors()}" th:text="${err}">Input is incorrect</li>
            </ul>

            <div class="form-group">
                <label for="old_password" class="control-label col-xs-2">Old password</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control" id="old_password" th:field="*{old_password}"
                           placeholder="Type your old password" required="required" autofocus="true"/>
                    <div th:if="${#fields.hasErrors('old_password')}" th:errors="*{old_password}">Old Password Error
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="control-label col-xs-2">New password</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control" th:field="*{password}" id="password"
                           placeholder="Insert your new password" required="required" autofocus="true"/>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">New Password Error</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password_confirm" type="password" class="control-label col-xs-2">New password
                    (confirm)</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control" th:field="*{password_confirm}" id="password_confirm"
                           required="required" placeholder="Confirm your new password"/>
                    <div th:if="${#fields.hasErrors('password_confirm')}" th:errors="*{password_confirm}">Confirm
                        Password Error
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>