<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Contact</title>


</head>
<body>

<h5>&nbsp;&nbsp;&nbsp;Welcome! &nbsp; <a th:href="@{/logout}"><b>[Logout]</b></a></h5>


<div layout:fragment="content">

<div class="col-sm-10 text-left">
    <h3>Developers</h3><hr />

    <p>   <b>Nitu Melania</b>  (email: melania.nitu@yahoo.com)   </p>
    <p>    <b>Alecu Gabriel</b> (email: gc.alecu@gmail.com)</p>

</div>
</div>
</body>
</html>