<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Select domain</title>

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"/>


</head>
<body>

<h5>&nbsp;&nbsp;&nbsp;Welcome! &nbsp; <a th:href="@{/logout}"><b>[Logout]</b></a></h5>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Quizzes</h1>
    </div>

    <div class="col-sm-8 text-left">
        <h3>Select the programming language:</h3>
        <form th:action="@{/quiz}" method="post" role="form">
            <div class="radio" th:each="d : ${domains}">
                <label><input type="radio" name="domain" th:value="${d.getId()}" th:text="${d.getName()}"/> </label>
            </div>
            <input type="submit" value="Begin Quiz"/>


        </form>
    </div>
</div>
</body>
</html>