<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Adaptive Quiz</title>
    <link href="css/page.css" rel="stylesheet"/>
</head>
<body>

    <div layout:fragment="content">
        <div class="jumbotron">
            <h1>Computer Adaptive Testing </h1>
        </div>

        <div style="text-align: right"> <h4 style="color:#004669"><b>Time left: <span id="clockdiv"></span></b></h4></div><br/>

        <h3><b><div th:text="${ongoingQuiz.getCurrentQuestion().getText()}"></div></b></h3><hr/>

        <div >
            <form id="questionForm" th:action="@{/quiz/question}" method="post" th:object="${ongoingQuiz}">
               <div class="option" th:each="answer : ${ongoingQuiz.currentQuestion.answers}">
                 <input type="checkbox" th:field="*{currentSelectedAnswers}" th:value="${answer.id}" />
                  <label th:for="${#ids.prev('currentSelectedAnswers')}" th:text="${answer.text}">Answer</label>
              </div>
                <br/><br/>
                <button type="submit" class="btn btn-primary" value="Next">Next</button>
           </form>
        </div>
    </div>


<section layout:fragment="scripts" >
    <script>
        /*<![CDATA[*/

        function getTimeRemaining(endtime){
            var t = new Date(endtime) - new Date();
            return Math.floor(t/1000);
        }

        function updateTimer(clock, endtime, formId, timeinterval){
            var t = getTimeRemaining(endtime);
            clock.innerHTML = t + ' sec ';
            if(t<=0){
                clearInterval(timeinterval);
                alert("Response time expired");
                document.getElementById(formId).submit();
            }
        }

        function initializeClock(id, endtime, formId){
            var clock = document.getElementById(id);
            var timeinterval = setInterval(function(){updateTimer(clock, endtime, formId, timeinterval);},1000);
            updateTimer(clock, endtime, formId, timeinterval);
        }


        function validateCheckboxes(checkboxes, first) {
            first.setCustomValidity(checkboxes.find('input:checked').length === 0 ? 'You must choose at least 1 option' : '');
        }

        var checkboxes = $('.option');
        var inputs = checkboxes.find('input');
        var first = inputs[0];
        inputs.on('change', function () {
            validateCheckboxes(checkboxes, first);
        });
        validateCheckboxes(checkboxes, first);

        /*]]>*/
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var quizEnd = /*[[${ongoingQuiz.questionTimeLimit.getTime()}]]*/ '0';
        function init() {
            initializeClock('clockdiv', quizEnd, 'questionForm');
        }
        window.onload = init;
        /*]]>*/
    </script>
</section>

</body>
</html>