<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Questions</title>
</head>

<body>

<div layout:fragment="content">

    <div th:text="${ongoingQuiz.getCurrentQuestion().getText()}">
        Question
    </div>

    <form th:action="@{/quiz/question}" method="post" th:object="${ongoingQuiz}">
        <div th:each="answer : ${ongoingQuiz.currentQuestion.answers}">
            <input type="checkbox" th:field="*{currentSelectedAnswers}" th:value="${answer.id}" />
            <label th:for="${#ids.prev('currentSelectedAnswers')}"
                   th:text="${answer.text}">Answer</label>
        </div>
        <input type="submit" value="Next"/>
    </form>

</div>

<section layout:fragment="scripts" >
</section>

</body>
</html>