<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Tutorials</title>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"/>


</head>
<body>


<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Tutorials</h1>
    </div>

    <div class="col-sm-10 text-left">
        <h3>In order to prepare for our quizzes and increase your score, you may use the following ressources:</h3>
        <br/>
        <div class="col-sm-3">
            &nbsp;
        </div>

        <div class="col-sm-3">
            <div class="well">
                <a href="http://tutorialspoint.com/java/"><p><b>Java</b></p></a>
            </div>
            <div class="well">
                <a href="http://www.tutorialspoint.com//cprogramming/index.htm"><p><b>C</b></p></a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="well">
                <a href="http://www.tutorialspoint.com//javascript/index.htm"><p><b>JavaScript</b></p></a>
            </div>
            <div class="well">
                <a href="http://www.tutorialspoint.com//python/index.htm"><p><b>Python</b></p></a>
            </div>
        </div>

        <hr/>

    </div>
</div>
</body>
</html>